@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin divider {
  &::after {
    content: "";
    display: block;
    background-color: $divider-bg-color;
    width: 6.5rem;
    height: 1px;
    margin: 0 auto;
    margin-top: 3rem;
  }
}
