body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 56%;
}

.heading-secondary {
  font-size: 3.2rem;
  line-height: 2rem;
  color: #0f5f5c;
  font-weight: 300;
  margin-bottom: 3rem;
  @include divider;
}

.heading-tertiary {
  font-size: 1.6rem;
  line-height: 2rem;
  color: #0f5f5c;
  font-weight: 600;
}

.heading-description {
  width: 60%;
  margin: 0 auto;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #83a7a5;
  font-weight: 400;
}
